body {
    font-family: 'Poppins', sans-serif;
}

.top-banner {
    display: flex;
    color: white;
    background: #007BFF;
    border-radius: 30px;
    margin: 50px 110px 130px 110px;
}

.header-details {
    width: 50%;
    margin-left: 106px;
    margin: 60px 0 71px 106px;
    padding-right: 30px;

}

.header-details h1 {
    font-size: 60px;
    font-weight: 700;
    padding-bottom: 0;
    margin: 0;
}

.header-details p {
    font-weight: 400;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.header-details button {
    background-color: #FBE140;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 10px;

}

.header-img {
    width: 50%;
}

.header-img img {
    width: 100%;
    margin: 20px 0px 0 0;
    padding: 20px 50px 0px 0px;
}

/* Blogs Section Style Start Here */

.blog-section {
    display: flex;
}

.blog-section .blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.blog-section .aside {
    width: 312px;
    height: 312px;
    background-color: #007BFF;
    border-radius: 10px;
}

.aside {
    display: grid;
    justify-content: center;
    align-items: center;
}

.aside button {
    width: 252px;
    height: 64px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    /* margin: 5px; */
}

.aside #btn2 button {
    background-color: #EE3719;
}

.blog-section .blog {
    width: 312px;
    height: 362px;
    border: 1px solid rgb(243, 242, 242);
    border-radius: 7px;
}

.blogs .blog {
    margin: 0 0 20px 10px;
}

.blogs .blog .blog-title {
    padding: 10px;
}

.blogs .blog .blog-title .blog-details button {
    width: 100px;
    height: 32px;
    border: 1px solid #161616;
}

.blogs .blog .blog-title .blog-details h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.blogs .blog .blog-title .fa-clock {
    padding-right: 7px;
}

.blogs .blog .blog-title span {
    padding-left: 20px;
}

.view-all-button {
    display: grid;
    justify-content: center;
}

.view-all-button button {
    width: 131px;
    height: 47px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    background-color: #EE3719;
    border: 1px solid white;
    border-radius: 7px;
    visibility: hidden;
}